ISSUER_SECRET=SAxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
DISTRIBUTOR_SECRET=SBxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
TOKEN_CODE=EXAMPLE
TOTAL_SUPPLY=1000000000
HOMEDOMAIN=kosasih.github.io
